[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipaddress = "*"
tabulate = "*"
PyNaCl = "*"
e1839a8 = {path = ".",editable = true}
duniterpy = "*"
click = "*"

[dev-packages]
pre-commit = "*"
black = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
