Source: silkaj
Section: utils
Priority: optional
Maintainer: Debian Cryptocoin Team <team+cryptocoin@tracker.debian.org>
Uploaders:
 Jonas Smedegaard <dr@jones.dk>,
Build-Depends:
 debhelper,
 dh-python,
 python3,
 python3-setuptools,
Standards-Version: 4.2.1
Vcs-Git: https://salsa.debian.org/cryptocoin-team/silkaj.git
Vcs-Browser: https://salsa.debian.org/cryptocoin-team/silkaj
Homepage: https://silkaj.duniter.org/

Package: silkaj
Architecture: all
Depends:
 ${cdbs:Depends},
 ${misc:Depends},
 ${python3:Depends},
Provides:
 ${python3:Provides},
Description: command-line client for Duniter
 Silkaj is a command-line client for Duniter.
 .
 Duniter is cryptocurrency
 which includes the concept of a Universal Dividend,
 the concept of a Web of Trust,
 and a highly energy efficient Blockchain.
